* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 23.43em) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
  }
}
